<p>execution works!</p>
<p *ngIf="client">{{client.FirstName}}</p>
<p *ngIf="!client">Loading...</p>
<p>
ДО
СЪДИЯ ИЗПЪЛНИТЕЛ ПРИ
РАЙОНЕН СЪД
гр. РУСЕ

М О Л Б А

от “ТОПЛОФИКАЦИЯ – РУСЕ” ЕАД с адрес на управление в гр. Русе, ул. “ТЕЦ ИЗТОК”, представлявано от инж. Тоньо Добрев Томов – изпълнителен директор
IBAN: BG20BUIN70071005002712, BIC: BUINBGSF в Търговска банка “Алианц България”

чрез Борис Станчев - юрисконсулт

ПРОТИВ:
"АЛФАВИТ" ЕООД
РУСЕ, ул. "ОЛИМПИ ПАНОВ" № 19 Ет.4
БУЛСТАТ 827183886

ЦЕНА: 2 579.50 лв

ГОСПОДИН (ГОСПОЖО) СЪДИЯ – ИЗПЪЛНИТЕЛ 

	Представяме Ви изпълнителен лист против "АЛФАВИТ" ЕООД. Молим да го приведете в изпълнение, като съберете дължимите суми и разноски, както и разноските по изпълнителното дело.
	Молим да се изпрати на длъжника призовка за доброволно плащане на дължимите суми.
	СПОСОБИ ЗА ИЗПЪЛНЕНИЕ:
	В случай, че длъжника не изплати присъдените ни суми в срока за доброволно плащане, молим да пристъпите към:
	-запор на трудовото възнаграждение или пенсията на длъжника, след като се изиска справка от НОИ за регистрирани трудови правоотношения или отпусната пенсия;
	-запор на лични МПС, след като се изиска справка от “ПП – КАТ” при РДВР Русе;
	-възбрана на недвижимите имоти и запор на банкови сметки, след справка от Данъчна служба по местоживеене.
	-опис на движимото имущество на длъжника, находящо се в жилището му.

	ПРИЛОЖЕНИЕ: 1. Изпълнителен лист; 2. Квитанция за внесена държавна такса, 3. Пълномощно, 4. Актуално състояние 2 бр. 

ЮРИСКОНСУЛТ: ________________
 (Б. СТАНЧЕВ)

</p>