<p>appeal works!</p>
<p *ngIf="client">{{client.FirstName}}</p>
<p *ngIf="!client">Loading...</p>
<p>

    ЧРЕЗ РАЙОНЕН СЪД гр. РУСЕ
    ДО ОКРЪЖЕН СЪД гр. РУСЕ

    Ж А Л Б А

    от “ТОПЛОФИКАЦИЯ – РУСЕ” EАД с адрес на управление в гр. Русе, ул. “ТЕЦ ИЗТОК”, представлявано от инж. Севдалин
    Желев Желев – изпълнителен директор

    чрез Борис Станчев – юрисконсулт

    срещу: Решение № 1741 от 25.10.2019 г. по гр. дело № 1438 по описа за 2016 г. на Русенски районен съд 7 граждански
    състав


    УВАЖАЕМИ ОКРЪЖНИ СЪДИИ,


    Не сме доволни от горепосоченото решение на русенски районен съд, поради което го обжалваме пред Вас в срок като
    молим да бъде отменено изцяло и вместо него да постановите друго решение, с което да уважите изцяло предявения иск и
    да ни присъдите разноските за двете инстанции, включително юрисконсултски възнаграждения по 100 лева за всяка
    инстанция.


    ПРИЛОЖЕНИЕ: препис от жалбата, държавна такса.


    ЮРИСКОНСУЛТ: ______________
    (Б. СТАНЧЕВ)

</p>